body {
  font-family: Open Sans;
  background-image: url('../images/main_image.jpg');
  background-size: cover;
}
h1 {
color: #ff9966;
}
h2 {
font-style: italic;
color: #00cc99;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: white;
}
ul.nav li {
  text-align: right;
  display: inline-block;
  padding-right: 50px;
  display: inline;
  float: left;
  color: #00cc99;
  text-decoration: none;
}
ul.nav li:hover {
  text-decoration: underline;
}
a {
color: #00cc99;
text-decoration: none;
}
