body {
  font-family: "Amatic SC", "arial";
  font-size: 30px;
  background-image: url('../images/home_background.jpg');
  background-size: cover;
}
.content {
  font-family: "Amatic SC", "arial";
  font-size: 30px;
  padding-left: 100px;
  padding-bottom: 50px;
}
.content h1 {
  color: #ff9966;
  font-size: 110px;
}
.content h2 {
font-style: italic;
color: #00cc99;
font-size: 60px;
padding-left:350px;
}
#buzz {
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
  padding-top: 50px;
}
#buzz .image {
  border-radius: 100%;
  width: 70%;
  height: 280px;
  float: center;
  box-shadow:
}
.contact .row {
  display:inline-flex;
  margin: auto;
  padding-left: 480px;
  padding-top: 120px;
}
