body {
  font-family: "Amatic SC", "arial";
  font-size: 30px;
  */ background-image: url('../images/scoby.jpeg');
  background-size: cover;
}
h1 {
  color: #ff9966;
  font-size: 50px;
}
h2 {
  color: #ff9966;
  font-size: 30px;
}
h3 {
font-style: italic;
color: #00cc99;
font-size: 30px;
}
ul {
  list-style-type: none;
  margin-top: 50px;
  padding: 0;
  overflow: hidden;
  background-color: rgba(255,255,255,0.8);
}
ul.nav li {
  text-align: right;
  display: inline-block;
  padding-right: 50px;
  display: incline;
  float: left;
  color: #00cc99;
  text-decoration: none;
}
ul.nav li:hover {
  text-decoration: underline;
}
a {
color: #00cc99;
text-decoration: none;
}
#logo {
  width: 50px;
  border-radius: 50%;
}
#menu {
  padding-left: 80px;
}
